@import 'variable';
// .text-color{
//     color: red;
// }

// .text-color-footer{
//     color: aqua;
// }
h1 {
    color: $red_color;
}

.user_avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}
