<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Từ Khóa</label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Giới tính</label>
            <select name="giotinh" class="form-control" id="exampleInputEmail1">
                <option value="choose">---Chọn Giới Tính---</option>
                <option value="nam">Nam</option>
                <option value="nu">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>